
.max{
  color: var(--acento-naranja);
}
.min{
  color: var(--acento-verde);
}

img{
  width: 100%;
  height: auto;
}

.rotulo{
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1rem;
  padding-top: .5rem;
}

.card-title{
  display:flex;
  justify-content: space-between;
  margin-right: 15px;
  padding-bottom: 0;
  height: 40px;
}

.lock-button{
 border:none;
 background-color:white;
}

.candado{
  color: var(--acento-gris);

}
.candado:hover{
  color: var(--acento-verde);
  animation: pop 0.5s ease-in-out 1;

 }

.location:hover{
  animation: pop 0.5s ease-in-out 1;
}

.card-body{
  width:180px;
  border-radius: 10px;
  margin: 0 auto;

  display:flex;
  width:100%;

  justify-content:space-between;
}


figure {
  align-self: center;
  width:180px;
  border-radius: 10px;
  width:30%;
}

.precios{
  align-self: center;
  width:180px;
  border-radius: 10px;
  width:70%;
  text-align:right;
  /* padding-right: 15px; */

}

.precios p{
  margin:10px;
  font-size:1rem;
}

.direccion{
  margin:5px;
  height: 20px;
  font-size: 15px;
  padding-left: 1rem;
  display:flex;
  justify-content:flex-start;
  gap: 20px;
  align-items: center;

}
.direccion h6{
  align-self: center;
  margin:0;
}
.direccion a{

  margin-bottom:12px;
}

.locationIcon{
  color:var(--fondo-oscuro);
}

.locationIcon:hover{
  color:var(--acento-naranja);
  animation: pop 0.3s linear 1;
}

.horario{
  margin:5px;
  font-size: 12px;
  padding-left: 1rem;
  padding-top: 5px;
}

mat-expansion-panel{
  margin-top:10px;
  margin-bottom: 10px;
  background-color:var(--fondo-oscuro);

}
mat-panel-title > *{
  color:var(--fondo-claro);;
  font-size:16px;
}

.grafica-container{

  width:100%;
  border-radius: 5px;
  padding:-5px;
  background-color:var(--fondo-claro);
}



.grafica {
  width: 100%;
  height:250px;
  margin-right:-10px;
  margin-left:-10px;
  /* margin-bottom: -100px; */
}

.anclado{
  border-radius: 5px;
  background-color:var(--fondo-favorito);
}

.candado-anclado{
  color:var(--acento-naranja);
}


@keyframes pop{
  50%  {transform: scale(1.2);}
}

@keyframes aparecer{

  0%{transform: scale(0);border-radius:50%;opacity: 10%;}
  20%{transform: scale(0.5); border-radius:20%;opacity: 50%;}
  50%  {transform: scale(1.1);}
  100%{}
}

