@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Roboto:wght@500&display=swap');
body {
  background-color: #f5f7fa;

  font-family: 'Montserrat','Lato', sans-serif'Roboto', sans-serif;

  font-family: 'lato', 'mononoki NF', Montserrat, sans-serif;
  font-size:24px;

}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}
ul, li {
  list-style: none;
}

.text-orange{
  color: orange;
}
.text-mint{
  color:mediumspringgreen;
}

.card{
  /* background-color:blue; */
  min-width: 400px;
  width: 23vw;
  border:none;

}
.card-body{
  width: 100%;
  color:rgb(77, 77, 77);
  /* display: flex; */

}

.logo{
  width:120px;
  height:120px;
  margin:20px;
  align-items:center;
}
