<!-- <div [ngClass]="{ anclado: dataApi.favorito }"> -->
<div class="card-title" id="{{ dataApi.id }}">
  <h5 class="rotulo">{{ dataApi.rotulo }}</h5>

  <i class="fa-2x text-secondary fa-" (click)="anclar($event)">
    <fa-icon [icon]="candado"></fa-icon
  ></i>
</div>
<div class="card-body">
  <figure>
    <img
      class="logo"
      src="../../assets/images/logos/{{ dataApi.rotulo }}.svg"
      onerror="this.src= '../../assets/images/logos/GAS.svg'"
      alt="Logo empresa EESS"
    />
  </figure>

  <div class="precios">
    <ng-container *ngFor="let precio of dataApi.precios; index as i">
      <p *ngIf="precio.show && precio.precio > 0">
        <!-- evaluamos si el tipo de combiustible se debe mostrar -->

        <span>{{ precio.tipo }} </span> :
        <ng-container *ngIf="precio.tipo == 'Diesel'">
          <strong
            [ngClass]="{
              max: precio.precio > stats.diesel_max - 0.05,
              min: precio.precio < stats.diesel_min + 0.05
            }"
            >{{ precio.precio }} </strong
          >€/l
        </ng-container>

        <ng-container *ngIf="precio.tipo == 'Diesel +'">
          <strong
            [ngClass]="{
              max: precio.precio > stats.diesel_extra_max - 0.05,
              min: precio.precio < stats.diesel_extra_min + 0.05
            }"
            >{{ precio.precio }} </strong
          >€/l
        </ng-container>

        <ng-container *ngIf="precio.tipo == 'Gasolina 95'">
          <strong
            [ngClass]="{
              max: precio.precio > stats.gasolina95_max - 0.0,
              min: precio.precio < stats.gasolina95_min + 0.05
            }"
            >{{ precio.precio }} </strong
          >€/l
        </ng-container>

        <ng-container *ngIf="precio.tipo == 'Gasolina 98'">
          <strong
            [ngClass]="{
              max: precio.precio > stats.gasolina98_max - 0.05,
              min: precio.precio < stats.gasolina98_min + 0.05
            }"
            >{{ precio.precio }} </strong
          >€/l
        </ng-container>
      </p>
    </ng-container>
  </div>
</div>

<div class="direccion">
  <h6>{{ dataApi.direccion }}</h6>

  <a
    title="Abrir en GoogleMaps"
    class="fa-2x text-black"
    target="_blank"
    href="https://www.google.com/maps/?q={{ dataApi.latitud }},{{
      dataApi.longitud
    }}"
  >
    <fa-icon [icon]="faLocation"></fa-icon>
  </a>
</div>

<p class="horario">{{ dataApi.horario }}</p>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Evolución precios</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="grafica-container">
    <div class="grafica">
      <ngx-charts-line-chart
        [legend]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Fecha'"
        [yAxisLabel]="'Precio'"
        [timeline]="true"
        [autoScale]="true"
        [results]="dataApi.historico"
        [scheme]="colorScheme"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
</mat-expansion-panel>

<!-- </div> -->
