<!-- <div class=""col-xl-3 col-sm-6 col-12 mb-4""> -->

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between px-md-1">
      <div class="align-self-center">
        <!-- <ng-container *ngIf="as"> -->
        <img
          class="logo"
          src="../../assets/images/logos/{{ dataApi.rotulo }}.svg"
          onerror="this.src = '../../assets/images/logos/GAS.svg'"
          alt="Logo empresa EESS"
        />
        <i
          class="fa-4x"
          [ngClass]="{
            'text-danger': dataApi.rotulo == 'REPSOL',
            'text-warning': dataApi.rotulo == 'SHELL',
            'text-success': dataApi.rotulo == 'BP',
            'text-orange': dataApi.rotulo == 'GALP',
            'text-mint': dataApi.rotulo.includes('ALCAMPO')
          }"
        >
          <!-- <fa-icon [icon]="faGasPump"></fa-icon> -->
        </i>
        <!-- </ng-container> -->
        <h5>{{ dataApi.rotulo }}</h5>
      </div>
      <div class="text-end">
        <ul>
          <!-- <li *ngFor="let precio of dataApi.precios"> -->
          <ng-container *ngFor="let precio of dataApi.precios; index as i">
            <li *ngIf="precio.show && precio.precio > 0">
              <!-- evaluamos si el tipo de combiustible se debe mostrar -->

              <span>{{ precio.tipo }} </span> :

              <ng-container *ngIf="precio.tipo == 'Diesel'">
                <strong
                  [ngClass]="{
                    'text-danger': precio.precio > stats.diesel_max - 0.05,
                    'text-success': precio.precio < stats.diesel_min + 0.05
                  }"
                  >{{ precio.precio }} </strong
                >€/l
              </ng-container>

              <ng-container *ngIf="precio.tipo == 'Diesel +'">
                <strong
                  [ngClass]="{
                    'text-danger':
                      precio.precio > stats.diesel_extra_max - 0.05,
                    'text-success':
                      precio.precio < stats.diesel_extra_min + 0.05
                  }"
                  >{{ precio.precio }} </strong
                >€/l
              </ng-container>

              <ng-container *ngIf="precio.tipo == 'Gasolina 95'">
                <strong
                  [ngClass]="{
                    'text-danger': precio.precio > stats.gasolina95_max - 0.0,
                    'text-success': precio.precio < stats.gasolina95_min + 0.05
                  }"
                  >{{ precio.precio }} </strong
                >€/l
              </ng-container>

              <ng-container *ngIf="precio.tipo == 'Gasolina 98'">
                <strong
                  [ngClass]="{
                    'text-danger': precio.precio > stats.gasolina98_max - 0.05,
                    'text-success': precio.precio < stats.gasolina98_min + 0.05
                  }"
                  >{{ precio.precio }} </strong
                >€/l
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div>{{ dataApi.horario }}</div>
    <div>{{ dataApi.direccion }}</div>
    <mat-expansion-panel>
      <!-- <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{ dataApi.id }}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{ dataApi.id }} -->
    </mat-expansion-panel>
  </div>
  <!-- </div> -->
</div>
