
.max{
  color: var(--acento-naranja);
}
.min{
  color: var(--acento-verde);
}

img{
  width: 100%;
  height: auto;
}

.rotulo{
  font-size: 2rem;
  margin: 0;
  padding-left: 1rem;
  padding-top: 1rem;
}

.card-title{
  display:flex;
  justify-content: space-between;
  margin-right: 15px;
}

.lock-button{
 border:none;
 background-color:white;
}

.card-body{
  width:180px;
  border-radius: 10px;

  display:flex;
  width:100%;

  justify-content:space-between;
}


figure {
  align-self: center;
  width:180px;
  border-radius: 10px;
  width:30%;
}

.precios{
  align-self: center;
  width:180px;
  border-radius: 10px;
  width:70%;
  text-align:right;
  padding-right: 15px;

}

.precios p{
  margin:10px;
  font-size:1.2rem;
}

.direccion{
  margin:5px;
  height: 20px;
  font-size: 15px;
  padding-left: 1rem;
  display:flex;
  justify-content:flex-start;
  gap: 20px;
  align-items: center;

}
.direccion h6{
  align-self: center;
  margin:0;
}
.direccion a{

  margin-bottom:12px;
}


.horario{
  margin:5px;
  font-size: 12px;
  padding-left: 1rem;
  padding-top: 5px;
}

mat-expansion-panel{
  margin-top:10px;
  margin-bottom: 10px;
  background-color:var(--fondo-oscuro);

}
mat-panel-title > *{
  color:var(--fondo-claro);;
  font-size:16px;
}

.grafica{
  width:100%;
  height:150px;
  border-radius: 5px;
  padding:1rem;
  background-color:var(--fondo-claro);
}
