<form name="formSearchBar" class="formSearchBar">
  <span #errorMessage [class]="error ? 'error' : 'error oculto'">
    Ubicación inválida
  </span>
  <div class="input-group mb-3 search-container">
    <input
      #datoABuscar
      type="text"
      (keyup)="addSugerencia($event, sugerenciasDiv)"
      required
      autofocus
      tabindex="1"
      accesskey="B"
      target="buscar"
      class="form-control"
      name="input_search"
      placeholder="Localidad o CP"
      value="{{ ubicacion }}"
      (focus)="error = false"
    />

    <span
      #sugerenciasDiv
      class="sugerencias"
      tabindex="2"
      (click)="datoABuscar.value = sugerenciasDiv.innerHTML"
    >
    </span>

    <div class="input-group-append">
      <input
        autocapitalize="none"
        id="buscar"
        class="btn btn-primary"
        type="submit"
        name="buscar"
        value="Buscar"
        tabindex="3"
        (click)="getUbicacion(datoABuscar.value)"
        (click)="datoABuscar.value = ubicacionABuscar"
        (click)="sugerenciasDiv.innerHTML = ''"
      />
    </div>
  </div>
</form>
