<form
  name="formSearchBar"
  class="formSearchBar"
  (submit)="sugerenciasDiv.style.display = 'none'"
>
  <div class="input-group mb-3 search-container">
    <input
      #datoABuscar
      type="text"
      (keyup)="addSugerencia($event, sugerenciasDiv)"
      required
      autofocus
      tabindex="1"
      accesskey="B"
      target="buscar"
      class="form-control"
      name="input_search"
      placeholder="Localidad o CP"
      value="{{ ubicacion }}"
    />
    <div class="input-group-append">
      <input
        id="buscar"
        class="btn btn-primary"
        type="submit"
        name="buscar"
        value="Buscar"
        tabindex="3"
        (click)="getUbicacion(datoABuscar.value)"
        (keydown.enter)="getUbicacion(datoABuscar.value)"
        (click)="sugerenciasDiv.style.display = 'none'"
        (keydown.enter)="sugerenciasDiv.style.display = 'none'"
      />
    </div>
  </div>

  <div
    #sugerenciasDiv
    class="sugerencias"
    tabindex="2"
    (click)="datoABuscar.value = sugerenciasDiv.innerHTML"
    (keydown.enter)="datoABuscar.value = sugerenciasDiv.innerHTML"
    (click)="datoABuscar.focus()"
    (keydown.enter)="datoABuscar.focus()"
    (click)="sugerenciasDiv.style.display = 'none'"
    (keydown.enter)="sugerenciasDiv.style.display = 'none'"
  ></div>
</form>
