<!-- <h2>{{ title }}</h2> -->
<div class="container-logo">
  <figure>
    <img src="../assets/images/fuel-watch-logo.svg" alt="logo Fuel-watch" />
  </figure>
</div>
<app-filters
  (combustiblesMostrar)="items_to_Show($event)"
  (rangosPrecio)="rangoMostrar($event)"
></app-filters>
<app-search-bar (searchValue)="ubicacionABuscar($event)"></app-search-bar>

<div>
  <div class="container-fluid container-main">
    <app-card
      class="card"
      [dataApi]="card"
      *ngFor="let card of arrayTarjetas"
    ></app-card>
  </div>
</div>
