<h1 class="seo">{{ title }}</h1>
<figure class="logo">
  <img src="../assets/images/fuel-watch-logo.svg" alt="logo Fuel-watch" />
</figure>

<div id="header-container">
  <app-filters
    (combustiblesMostrar)="items_to_Show($event)"
    (rangosPrecio)="rangoMostrar($event)"
    (marcaSeleccionada)="seleccionarMarca($event)"
    [listadoMarcas]="listadoMarcas"
    [precioMin]="precioMin"
    [precioMax]="precioMax"
  ></app-filters>
</div>

<div id="main-container" class="container-fluid">
  <app-search-bar
    (searchValue)="ubicacionABuscar($event)"
    [ubicacion]="UbicacionABuscar"
    [listaLocaliades]="listaLocaliades"
  ></app-search-bar>

  <div id="stats-container">
    <app-estadisticas
      class="stats"
      [stats]="objetoEstadisticas"
      [ubicacion]="UbicacionABuscar"
    ></app-estadisticas>
  </div>

  <ng-container *ngFor="let card of arrayTarjetas.reverse()">
    <ng-container *ngIf="card.favorito">
      <app-card
        [dataApi]="card"
        [stats]="objetoEstadisticas"
        (favoritos)="anclar($event)"
        *ngIf="card.rotulo == marcaSeleccionada || marcaSeleccionada == 'TODAS'"
        [ngClass]="card.favorito ? 'card fav' : 'card'"
      >
      </app-card>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let card of arrayTarjetas.reverse()">
    <ng-container *ngIf="!card.favorito">
      <app-card
        [dataApi]="card"
        [stats]="objetoEstadisticas"
        (favoritos)="anclar($event)"
        *ngIf="card.rotulo == marcaSeleccionada || marcaSeleccionada == 'TODAS'"
        [ngClass]="card.favorito ? 'card fav' : 'card'"
      >
      </app-card>
    </ng-container>
  </ng-container>
</div>
