<h1 class="seo">{{ title }}</h1>

<div id="main-container" class="container-fluid">
  <figure class="logo">
    <img src="../assets/images/fuel-watch-logo.svg" alt="logo Fuel-watch" />
  </figure>

  <app-search-bar
    (searchValue)="ubicacionABuscar($event)"
    [ubicacion]="UbicacionABuscar"
    [listaLocaliades]="listaLocaliades"
  ></app-search-bar>

  <div id="stats-container">
    <div id="header-container">
      <app-filters
        (combustiblesMostrar)="items_to_Show($event)"
        (rangosPrecio)="rangoMostrar($event)"
        (marcaSeleccionada)="seleccionarMarca($event)"
        [listadoMarcas]="listadoMarcas"
        [precioMin]="precioMin"
        [precioMax]="precioMax"
        [ngClass]="UbicacionABuscar ? 'app-filters' : 'oculto'"
      >
      </app-filters>
    </div>
    <app-estadisticas
      class="stats"
      [stats]="objetoEstadisticas"
      [ubicacion]="UbicacionABuscar"
      [fecha]="fechaActualizacion"
    ></app-estadisticas>
  </div>

  <ng-container *ngFor="let card of arrayTarjetas.reverse()">
    <ng-container *ngIf="card.favorito">
      <app-card
        [dataApi]="card"
        [stats]="objetoEstadisticas"
        (favoritos)="anclar($event)"
        *ngIf="card.rotulo == marcaSeleccionada || marcaSeleccionada == 'TODAS'"
        [ngClass]="card.favorito ? 'card fav' : 'card'"
      >
      </app-card>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let card of arrayTarjetas.reverse()">
    <ng-container *ngIf="!card.favorito && this.loadCompleted">
      <app-card
        [dataApi]="card"
        [stats]="objetoEstadisticas"
        (favoritos)="anclar($event)"
        *ngIf="card.rotulo == marcaSeleccionada || marcaSeleccionada == 'TODAS'"
        [ngClass]="card.favorito ? 'card fav' : 'card'"
      >
      </app-card>
    </ng-container>
  </ng-container>

  <!-- EN caso de que se haya buscado algo y no existan resultados mostrará gif de carga -->
  <div
    class="loading-container"
    *ngIf="!this.loadCompleted && UbicacionABuscar"
  >
    <figure class="loading">
      <img src="../assets/animations/load.gif" alt="animacion de carga" />
    </figure>
  </div>

  <!-- en caso de que no se haya buscado nada mostrará un mensaje indicando que debe buscar un valor -->

  <div
    class="default-message"
    style="color: '#999'; margin-top: 20%; text-align: center"
    *ngIf="!UbicacionABuscar"
  >
    <h5>
      Utiliza el buscador para encontrar resultados de gasolineras cercanas
    </h5>
  </div>
</div>
