

::ng-deep :root {
  --fondo-oscuro  : #333f50;
  --fondo-claro   : #f2f2f2;
  --acento-naranja: #ea8254;
  --acento-verde  : #22c4a5;
}

::ng-deep body{  background-color:var(--fondo-claro);}


/* HEADER { logo , filtros , buscador} */
#header-container{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
background-color: var(--fondo-oscuro);

}

#header-container .logo{
  max-width: 200px;

}
#header-container .logo img{
  width: 100%;
  height: auto;
}

#header-container .logo img{
  width: 100%;
  height: auto;
}


#header-container app-filters{
  background-color: red;
  width:80%;

}



#header-container app-search-bar{
  width: 100%;
}

/* contenedor para las estadísticas */
#stats-container{
  width: 100vw;
  padding-bottom: 15px;
  padding-top: 5px;
  background-color:#e8f0fe;
  color:#94989a;
  margin-bottom: 20px;

}


/* contenedor donde se alojan las tarjetas */

#card-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap:20px;
  margin-top: 20px;

}

app-card{
  background-color:#fff;
  border-radius: 10px;
  padding:10px;
  width: 500px;

}
/*
.container-logo{
  width:100%;
  height: 100px;
  background-color: #333f50;
  display:flex;
  align-items: center;
}

.container-logo figure{
  max-width: 300px;
  margin-top: 15px;
}

.container-logo img{
  width:100%;
  height:auto;

}
.card-coniatner{
  background-color: #
} */
