

/* HEADER { logo , filtros , buscador} */
#header-container{
margin:0;
padding:0;
box-sizing: border-box;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
background-color: var(--fondo-oscuro);

}



#header-container app-filters{
  width:80%;
  padding-left: 250px;
  display: flex;
  justify-content: center;
  margin-bottom:40px;

}




/* contenedor para las estadísticas */
#stats-container{
  width: 100vw;
  padding-bottom: 15px;
  background-color:#e8f0fe;
  color:#94989a;
  margin-bottom: 20px;
  margin-top:-10px;

}

.logo{
  max-width: 200px;
  position: absolute;
  /* position:sticky; */
  z-index: 100;

  top: 100px;


}
.logo img{
  width: 100%;
  height: auto;


}

/* contenedor donde se alojan las tarjetas */
#main-container{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap:10px;

  transition: all 0.5 ease-in-out;

}

#main-container app-search-bar{
  width: 100vw;
  background-color:var(--fondo-oscuro);
  z-index:1;
  position: sticky;
  top: 0;

}

#main-container  .card{
  background-color:#fff;
  /* margin-left:20px; */
  border-radius: 10px;
  padding:10px;
  width: 350px;
  /* width:18%; */

}

#main-container  .fav{
  background-color:rgb(220, 242, 255);
}

#main-container {
  animation: fadeIn .8 linear;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




/* MEDIA QUERY PARA PANTALLAS INTERMEDIAS */
@media screen and (max-width:900px) {
  #header-container{
    flex-flow: column wrap;
    margin:0;
  }
  #header-container  app-filters{
    padding:10px;
    padding-right: 30px;
    width: 97%;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: var(--fondo-oscuro);
    }

    #header-container app-search-bar{
      width: 140%;

    }

    .logo{
      display:none;
    }

  }



