<form
  id="formulario "
  class="form-filter"
  ng-change="capturaFiltro()"
  [formGroup]="filtersForm"
>
  <div class="container-marcas">
    <label class="label-filtro"> Marca: </label>
    <select
      class="form-select"
      aria-label="Default select example"
      (change)="readSelectMarca($event)"
    >
      <option value="TODAS">TODAS</option>
      <ng-container *ngFor="let marca of listadoMarcas">
        <option [value]="marca">
          {{ marca }}
        </option>
      </ng-container>
    </select>

    <div class="container-checkbox" (change)="readCheck($event)">
      <label class="label-filtro label-filtro-check">
        Tipo de combustible:
      </label>
      <!-- <h5>Mostrar precios de :</h5> -->
      <label class="form-check-label" for="dieselEnable">
        <input
          type="checkbox"
          formConrtrolName="dieselEnable"
          id="dieselEnable"
          checked
        />
        Diesel</label
      >
      <label class="form-check-label" for="dieselPlusEnable">
        <input
          type="checkbox"
          formConrtrolName="dieselPlusEnable"
          id="dieselPlusEnable"
          checked
        />
        Diesel+</label
      >
      <label class="form-check-label" for="gas95Enable">
        <input
          type="checkbox"
          formConrtrolName="gas95Enable"
          id="gas95Enable"
          checked
        />
        Gasolina 95</label
      >
      <label class="form-check-label" for="gas98Enable">
        <input
          type="checkbox"
          formConrtrolName="gas98Enable"
          id="gas98Enable"
          checked
        />
        Gasolina 98</label
      >
    </div>
  </div>
  <div class="container-slider">
    <label class="label-filtro"> Precio: </label>
    <select
      class="form-select"
      aria-label="Default select example"
      (change)="readSelect($event)"
    >
      <ng-container *ngFor="let combustible of combustibles">
        <option *ngIf="combustible.active" [value]="combustible.code">
          {{ combustible.name }}
        </option>
      </ng-container>
    </select>

    <div class="wrapper">
      <ngx-slider
        class="orange"
        (valueChange)="readSlider($event)"
        (highValueChange)="readSlider($event)"
        (mouseup)="submitSlider($event)"
        formConrtrolName="sliderControl"
        [(value)]="precioMin"
        [(highValue)]="precioMax"
        [options]="options"
      ></ngx-slider>
    </div>
  </div>
</form>
