

::ng-deep :root {
  --fondo-oscuro  : #333f50;
  --fondo-claro   : #f2f2f2;
  --acento-naranja: #ea8254;
  --acento-verde  : #22c4a5;
}


.form-filter{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 1rem 1rem;
  background-color:var(--fondo-oscuro);
  color: var(--fondo-claro);

}

.form-filter h5{
 font-size:1rem;
 margin-left: -23px;

}

.container-checkbox{
  width:30%;
  min-width: 150px;
  height:40%;
  display:flex;
  flex-flow:row wrap;
  gap:10px;

}

.container-slider{
  width:40vw;
  height:80px;
  background-color:var(--fondo-oscuro);
  color: var(--fondo-claro);
  padding:0, 1rem;
  border-radius:10px;

}

.container-slider select{
  width:30%;
  height:33px;
  font-size:16px;
  padding-left: 20px;
  padding-bottom: 7px;
  background-color:#b0bec5;
  margin: 0 0 2rem 1rem;


}


.form-check{
  padding: 1px;
  margin:0;

}

ngx-slider{
  width:93%;
  margin: 1rem 1rem;
}

