
.form-filter{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3%;
  padding: 1rem 1rem;
  background-color:var(--fondo-oscuro);
  color: var(--fondo-claro);
  gap:10px;


}

.form-filter h5{
 font-size:1rem;
 margin-left: -23px;

}

 /* SELECTOR MARCAS (contiene .container-checkbox) */
.container-marcas{
  width:100%;
  /* background-color: blue; */
  display:flex;
  flex-flow:row wrap;

}

 /* CHECKBOXES DE LOS PRECIOS A MOSTRAR */
.container-checkbox{
  width: 65%;
  min-width: 150px;
  height:40%;
  display:flex;
  flex-flow:row wrap;
  justify-content:inherit;
  gap:25px;
  margin-top: 10px;
  padding:15px;
  font-size:18px;
  /* background-color: red; */

}
 /* SELECTOR Y SLIDER  */
.container-slider{
  width:100%;
  min-width: 150px;
  height:80px;
  background-color:var(--fondo-oscuro);
  color: var(--fondo-claro);
  padding:0, 1rem;
  border-radius:10px;
  /* background-color: green; */
}


select {
  width:180px;
  height:35px;
  font-size:16px;
  padding-left: 20px;

  background-color:#b0bec5;
  margin: 1.5rem;

}


.label-filtro{
  color: #b0bec5;
  font-size:12px;
  float:left;
  position: absolute;
  margin-left: 30px;
}

.label-filtro-check{
  margin-left: 0px;
  margin-top: -25px;
}


.form-check{
  padding: 1px;
  margin:0;
  font-size: 1rem;

}
.wrapper{
 display:block;
 margin-left:225px;
 margin-top:-45px;
}

ngx-slider{
  width:93%;
  margin: 1rem 1rem;
}


/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
@media screen and (max-width:600px) {
  select {
    width: 90%;
  }


  .container-slider{

    display:flex;
    flex-direction:column;

  }

  .wrapper{
    display:block;
    margin:15px 0 ;
   }

}
