/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Lato&family=Noto+Sans&family=Roboto:wght@500&family=Rubik&display=swap');

::ng-deep :root {
  --acento-naranja: #ea8254;
  --acento-verde  : #22c4a5;
  --fondo-oscuro  : #333f50;
  --acento-gris   : #b0bec5;
  --fondo-favorito: #ccd9ec;
  --fondo-claro   : #f2f2f2;

}

html, body { height: 100%; }
body { margin: 0; font-family: Alexandria, Roboto, Lato, 'Roboto Mono',Rubik, 'Noto Sans', "Helvetica Neue", sans-serif; }



.seo{
  display: none;
}


